body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10%;

}

h1 {
    text-align: center;
    color: #333;
}

.add-task {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-text {
    flex: 1;
}

.task-options {
    display: flex;
    align-items: center;
}

.complete-button,
.delete-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-button {
    background-color: #4CAF50;
    color: #fff;
}

.delete-button {
    background-color: #f44336;
    color: #fff;
}
.completed {
    background-color: #98FB98; 
    text-decoration: line-through; /* Add a line-through decoration for completed text */
    color: #555; 
}
